.icon {
    width: 85px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container-header {
    margin-bottom: 30px;
}

.side-nav {
    margin-left: 60%;
    margin-top: 70px;
}

.card-content {
    text-align: center;
}

.container
{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}